/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

body{
  background-color: #f6f7f8;
  padding: 18px;
}

.contacts{

}

.contacts.list .contact{
  background-color: #ffffff;
  margin-bottom: 2px;
}

.contact a{
  color: #384850;
  display: block;
  height: 30px;
  padding: 18px;
  position: relative;
  text-decoration: none;
}

.contacts.list  .contact .name {
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  height: 30px;
  line-height: 30px;
  margin-left: 57px;
}

.contacts.list .contact img{
  border-radius: 50%;
  height: 38px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 38px;
}

.search-input{
  margin-bottom: 18px;
  padding: 10px;
  width: 100%;
  -ms-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-sizing: border-box;
}

.profile{
  height: 100px;
  margin-bottom: 36px;
  position: relative;
}

.profile img{
  height: 100px;
  position: absolute;
  width: 100px;
}

.profile .name{
  display: inline-block;
  padding-left: 124px;
  padding-top: 25px;
  width: 100%;
}

.profile .name .first-name, .profile .name .last-name{
  color: #384850;
  display: block;
  font-size: 20px;
  font-weight: bold;
}

.profile .name .first-name{
  margin-bottom: 4px;
}

.detail{
  margin-bottom: 32px;
}

.detail:last-child{
  margin-bottom: 0;
}

.detail .label{
  color: #7A919D;
  display: block;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 4px;
}

.detail .value{
  color: #9CADB7;
  display: block;
  font-size: 18px;
  font-weight: 300;
}
